<h1><%= @task.title %></h1>

<p> Details: <%= @task.details %></p>
<p>completed: <%= @task.completed %></p>

<%= link_to 'Back to Tasks', tasks_path%>
<%= link_to 'Remove this Task', task_path(@task),method: :delete, data: { confirm: "Are you sure?" } %>
